@value globale: "./Globale.module.scss";
@value gradient, gradientLight,lightOrange, yellowish, greyMedium, fontBold  from globale;

.button {
  composes: fontBold;

  display: flex;
  align-items: center;
  gap: 10px;
  height: 48px;
  max-width: max-content;
  padding: 11px 16px;
  background-color: transparent;
  color: lightOrange;
  border: none;
  cursor: pointer;

  &:hover {
    color: yellowish;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

.borderButton {
  composes: button;

  border: 2.5px solid;
  border-image-slice: 1;
  border-width: 2.5px;
  border-image-source: gradient;
  transition: all ease-out 0.3s;

  &:hover {
    border-image-source: gradientLight;
  }
}
.disabledBorderBtn {
  color: greyMedium;
  border: 2.5px solid greyMedium;
  cursor: default;

  &:hover {
    color: greyMedium;
  }
  &:hover {
    border: 2.5px solid greyMedium;
  }

}