@value globale: "./Globale.module.css";
@value gradient, gradientLight,lightOrange, yellowish fontBold from globale;

.button {
  display: flex;
  padding: 11px 16px;
  background-color: transparent;
  color: lightOrange;

  svg {
    width: 16px;
    height: 16px;
  }
}

.borderGradientNormal {
  border: 2.5px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: gradient;
  transition: all ease-out 0.3s;
}

.borderGradientNormal:hover {
  border-image-source: gradientLight;
  color: yellowish;
}
