@value globale: "./Globale.module.scss";
@value lightOrange, greyMedium, yellowish, fontRegular, fontBold from globale;

.headerTitle {
  composes: fontBold;
  color: yellowish;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
}
