@value globale: "./Globale.module.scss";
@value yellowish, bgDark, fontBold from globale;


.headerWrapper {
  width: 100%;
}
.headerTitle {
  composes: fontBold;
  color: yellowish;
}

.headerImgWrapper {
  max-width: 1440px;
  height: 400px;
  
  img {
    object-fit: contain;
    width: 100%;
  }
}

.titleWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: bgDark;
}
