@value globale: "./Globale.module.scss";
@value yellowish, bgDark, fontBold from globale;

.headerWrapper {
  width: 100%;
}
.headerTitle {
  composes: fontBold;
  color: yellowish;
}

.headerImgWrapper {
  display: flex; // to make a div fluid
  max-width: 1440px;
  max-height: 400px;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.titleWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: bgDark;
}
