@value globale: "./Globale.module.scss";
@value lightOrange, greyLight, bgDark, fontBold, fontRegular from globale;

// wrapper should be exchanged with a globale bg later....
.container {
  background-color: bgDark;
  padding-top: 20px;
}
.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 51px;
  margin-bottom: 20px;
  margin-left: auto;
  width: 100%;
  max-width: 720px;

  h2 {
    margin: 0;
  }
}

.contentBox {
  composes: fontRegular;
  display: flex;
  justify-content: space-between;
  padding: 0 140px;
}

.imageWrapper {
  max-width: 580px;
  width: 580px;
  max-height: 490px;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.title {
  composes: fontBold;
  font-size: 32px;
  text-transform: uppercase;
  color: lightOrange;
}

.infoWrapper {
  composes: fontRegular;

  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 580px;
  text-align: left;
  line-height: 24px;
}

.paragraphsWrapper {
  p {
    margin: 0 0 30px 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.actionBtnWrapper {
  display: flex;
  gap: 16px;
  margin-top: 5px;
}

// @media (max-width: 1200px) {
//   .contentBox {
//     flex-direction: column;
//     align-items: center;
//     gap: 25px;
//   }
// }
